*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#7c68eec7 ;
}
.div-title{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-title h1{
   font-weight: 300;
}
.container{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}
.container .div-form {
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}
.container .div-form h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}

.container .div-form form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container .div-form form input,
.container .div-form form button {
    width: 40%;
    padding: 7px 10px;
    margin: 10px 10px;
}
.container .div-list {
    width: 50%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(135, 132, 132);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.3);
}
.container .div-list h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: whitesmoke;
}
.container .div-list .divemployees {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}
hr {
    width: 100%;
    height: 1px;
}

.btn  {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-edit{
    background-color: green;
}

.btn-delete{
    background-color: red;
}
